<?xml version="1.0" encoding="UTF-8"?>
<manifest>

  <remote  name="aosp-klp"
           fetch="https://android.googlesource.com" 
           revision="refs/tags/android-4.4_r1" />

  <remote  name="github"
           fetch="https://github.com/jellybean-on-hammerhead" />

 <!-- Removal of stuff that is getting replaced to make this work in the first place -->
  <remove-project name="platform/system/core" />
  <remove-project name="platform/frameworks/base" />
  <remove-project name="platform/system/netd" />
 <!-- Removal of stuff that is getting replaced to make this work in the first place -->

    <project path="system/core" name="platform_system_core" groups="pdk" revision="aosp-4.3.1-hammerhead" remote="github" />
    <project path="frameworks/base" name="platform_frameworks_base" groups="pdk" revision="aosp-4.3.1-hammerhead" remote="github" />
    <project path="system/netd" name="platform/system/netd" groups="pdk" revision="9b3cd7635caf5948d7d4b11f8f588c9d2811d58e" remote="aosp-klp" />
</manifest>